{% load i18n %}
                     <div id="tasks">
                        <div class="task">
                            <a href="/Jan/history">
                            <img width="32" height="32" src="/static/Jan/images/icons/Faenza/actions/32/document-open-recent.png" alt="" style="margin: 2px;"></img></a>
                            <a href="/Jan/history">{% trans "History of deliveries" %}</a>
                        </div>
                        <div class="task">
                            <a href="/Jan/mock">
                            <img width="32" height="32" src="/static/Jan/images/icons/Faenza/categories/32/applications-development.png" alt="" style="margin: 2px;"></img></a>
                            <a href="/Jan/mock">{% trans "Another configuration option" %}<a>
                        </div>
                        <div class="task">
                            <a href="/Jan/mock">
                            <img width="32" height="32" src="/static/Jan/images/icons/Faenza/apps/32/workspace-switcher.png" alt="" style="margin: 2px;"></img></a>
                            <a href="/Jan/mock">{% trans "Views definitions" %}</a>
                        </div>
                    </div>
 
